<div ng-controller="ItemListCtrl">
    
    <table>
        <tr><h5>List of Items</h5></tr>
        <tr>
            <td>Search:</td>
            <td><input type="text" ng-model="item_src" /></td>
        </tr>
        <tr>
            <td>Sort by:</td>
            <td><select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="-timestamp">Newest</option>
                <option value="timestamp">Oldest</option>
                </select></td>
        </tr>
        <tr>
            <td>Category: </td>
            <td><select ng-model="type">
                <option value="">All</option>
                <option value="electronics">Electronics</option>
                <option value="furniture">Furniture</option>
                <option value="paper">Paper</option>
                <option value="other">Other</option>
                </select></td>
        </tr>
        
    </table>
    <table>
        <tr>
            <h5>Seller Availability</h5>
        </tr>
        <tr>
            <td>Date:</td>
            <td><input type="text" ng-model="date" /></td>
        </tr>
        <tr>
            <td>Time:</td>
            <td><input type="text" ng-model="start" /> - <input type="text" ng-model="end" /></td>
        </tr>
    </table>
    <br/>

    <!--to hyperlink each item to respective seller-->
    <div class="container-fluid">
    <div class="row">
        <div ng-repeat="item in items | filter:item_src | orderBy:orderProp | filter:type" class="col-md-4">
            <div class="thumbnail"><img ng-src="{{item.imageURL}}"/>
            <br/>
            {{item.name | uppercase}}
            <br/>
            Category: {{item.category}} 
            <br/>
            Condition: {{item.condition}} 
            <br/>
            Price: {{item.price}}
            <br/>
            Description: {{item.description}}
            <br/>
            Seller: {{item.sellerId}}
            </div>
        </div>
    </div>
    </div>
    
    <br/>
    <!--
    <h5>New Item</h5>
    Item Name: <input type="text" ng-model="newItem.name"/>
    Type: <input type="text" ng-model="newItem.type"/>
    <button ng-click="addItem()">Add Item</button>
    -->
</div> 