<!--to include buyer controller--> 
<div ng-controller="BuyerUserCtrl as buyer">
    <table class="table" width="200">
          <tr>
            <td>Email: </td>
            <td>Email to appear</td>
        </tr>
        <tr>
            <td>Name: </td>
            <td>Name to appear</td>
        </tr>
        <tr>
            <td>Contact: </td>
            <td>Contact number to appear</td>
        </tr>
        <tr>
            <td>Address: </td>
            <td>Address to appear</td>
        </tr>
        <tr>
            <td>Postal Code: </td>
            <td>Postal Code to appear</td>
        </tr>
        <tr>
            <td>Schedule: </td>
            <td>Schedule to appear</td>
        </tr>
        <tr>
            <td>Ratings: </td>
            <td>Ratings to appear</td>
        </tr>
    </table>
</div>