<style>
    body{
        padding-top: 80px;
    }
</style>
<!--TODO: re-align properly using columns instead -->
<table class="table">
    <tr>
        <td>
            <a href="#/feedback/positive"><img src="./img/Feedback/positive.png"/></a>
        </td>
        <td>
            <img src="./img/Feedback/neutral.png"/>
        </td>
        <td>
            <img src="./img/Feedback/negative.png"/>
        </td>
    </tr>
    <form role="form">
        <tr>
            <td>
                <label class="radio" class="col-md-4">
                    <input type="radio" name="rating" id="rating" value="positive">
                    Positive
                </label>
            </td>
            <td>
                <label class="radio" class="col-md-4">
                    <input type="radio" name="feedback" id="rating" value="neutral">
                    Neutral
                </label>                
            </td>
            <td>
                <label class="radio" class="col-md-4">
                    <input type="radio" name="feedback" id="rating" value="negative">
                    Negative
                </label>
            </td>
            <td>
                <button type="submit" class='btn btn-primary'> Submit</button>
            </td>
        </tr>
    </form>
</table>
