<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
<div ng-controller="LoginCtrl">    
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus ng-model="email">
        <input type="password" name="password" class="form-control" placeholder="Password" required ng-model="password">
        <a href="#">Forgot Password</a>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>

        <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="check(this.form)" value="Login" >Sign in</button>
    </form>

    
    <script language="javascript">
        $scope.login = function(){
            
            
            for(var i = 0; i < $scope.users.length; i++){
                if($scope.users[i].email == email && $scope.users[i].password == password){
                    window.location.href= "/kgapp/index_seller.html";
                }
            }
        }
    </script>
    <!--
<script language="javascript">
function check(form)/*function to check userid & password*/
{
/*the following code checkes whether the entered userid and password are matching*/
if(form.email.value == "MonicaCheng@hotmail.com" && form.password.value == "1234")
{
window.location.href= "/kgapp/index_seller.html" /*opens the target page while Id & password matches*/
}
else if(form.email.value == "OngLyeTat@hotmail.com" && form.password.value == "1234") {
  window.location.href= "/kgapp/index_buyer.html" /*opens the target page while Id & password matches*/  
}
else
{
alert("Error Password or Username")/*displays error message*/
}
}
</script>
    -->
</div>