<h2>My Offers</h2>
<table class="table table-hover">
    <thead>
        <td>Time/Date</td>
        <td>Offer Details</td>
        <td>Buyer Name</td>
        <td>Action</td>
    </thead>
    <tr>
        <td>9:30AM 22/10/2014</td>
        <td>$20.00 for <b>2.1 LOGITECH SPEAKERS</b> & <b>OLD NEWSPAPERS</b> on 10:00AM - 11:00AM 23/10/2014</td>
        <td><a href="#/buyer/profile/onglyetat">Ong Lye Tat</a></td>
        <td><a href="#/seller/profile/monicacheng1"><button class="btn btn-success">Accept</button></a> <a href="#/seller/profile/monicacheng"><button class="btn btn-danger">Decline</button></a></td>
    </tr>
</table>