<h2>Deals Today</h2>
<div ng-controller="ItemListCtrl as items">
<!-- create a json file for Ong Lye Tat's deals-->
    <div class="container-fluid">
        <div class="row">
            <div ng-repeat="item in items| filter:item_src | orderBy:orderProp | filter:type" class="col-md-4">
                <div class="thumbnail">
                    <a href="#/seller/profile/monicacheng"><img ng-src="{{item.imageURL}}"/></a>
                    <br/>
                    {{item.name| uppercase}}
                    <br/>
                    Category: {{item.category}} 
                    <br/>
                    Condition: {{item.condition}} 
                    <br/>
                    Price: {{item.price}}
                    <br/>
                    Description: {{item.description}}
                    <br/>
                    Seller: {{item.sellerId}}

                </div>
            </div>
        </div>
    </div>
</div>

<h2>Future Deals</h2>