<style>
    #topContainer, #aboutus, #whatwedo, #FAQ{
        padding-top: 30px;
    }
</style>

<div class="contentContainer" name="topContainer">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-md-16">
            <h2 class="featurette-heading" align="center">Karung Guni Application</h2>
            <p class="lead" align="center">Start buying and selling recyclable items now!</p>
            <h3>In 3 simple steps:</h3>
        </div>    
        <img class="featurette-image img-responsive" src="./img/homepage.JPG">
    </div>
</div>

<a name="aboutus"></a>
<div class="contentContainer" id="aboutus">
    <hr class="featurette-divider"> 
    <div class="row featurette">
        <div class="col-md-8">
            <h2 class="featurette-heading">About Us. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-4">
            <img class="featurette-image img-responsive" src="./img/aboutus.jpg" height="350" width="350">
        </div>
    </div>
</div>

<a name="whatwedo"></a>
<div class="contentContainer" id="whatwedo">
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-4">
            <img class="featurette-image img-responsive" src="./img/whatwedo.jpg" height="350" width="350">
        </div>
        <div class="col-md-8">
            <h2 class="featurette-heading">What We Do. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
</div>

<a name="faq"></a>
<div class="contentContainer" id="FAQ">
    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-11">
            <h2 class="featurette-heading">Frequently Asked Questions <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            <a class="btn btn-large btn-primary" href="register.html">Sign Up Today!</a>
        </div>        
    </div>
</div>

<script>
    $(".contentContainer").css("min-height", $(window).height());
</script>

<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>