    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./">KarungGuni App</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">     
            <li><a href="#aboutus">About Us</a></li>
            <li><a href="#whatwedo">What We Do</a></li>
            <span ng-if="userLoggedIn == true">
            <li><a href="#/all_listings">All Listings</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">My Page <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/buyer/profile/onglyetat">View My Profile</a></li>
                        <li><a href="#/buyer/onglyetat/myoffers">My Offers</a></li>
                    </ul>
             </li> 
            </span>
            <li><a href="#faq">FAQ</a></li>
            
            
            
            
            
          </ul>
            
            
            
            
            <form class="navbar-form pull-right">
                <a href="#/login" class="btn">Sign in</a>
                <a href="#/register" class="btn">Register</a>
            </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>