    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/all_listings">KarungGuni App</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#/all_listings">All Listings</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">My Page <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">View My Profile</a></li>
                <li><a href="#">My Offers</a></li>
              </ul>
            </li> 
            <li><a href="#faq">FAQ</a></li>
          </ul>
            
            <div class="navbar-form pull-right">
                    <a class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <button type="button" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-bell"></span>
                            </button>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">notifications list</li>
                            <li><a href="#">One notification</a></li>
                            <li><a href="#">Two notification</a></li>
                        </ul>
                    </a>
                    <a href="logout.html" class="btn btn-primary">Log Out</a>
            </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
