<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #eee;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }
    .form-signin .checkbox {
        font-weight: normal;
    }
    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
</style>
    <!-- navbar -->

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="MainController">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/welcome">KG App</a>
        </div>
          
          <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" ng-repeat="tab in tabs">             
                  <li><a href="{{tab.link}}">{{tab.name}}</a></li>
          </ul>

            log in? {{loggedIn}}
            <form class="navbar-form pull-right">
                <!---<div ng-show="'{{type}}' != 'seller'  ||'{{type}}' != 'buyer' " > -->
                <div ng-hide="loggedIn" >
                <a href="#/login" class="btn">Sign in</a>
                <a href="#/register" class="btn">Register</a>
                </div>
                <div ng-show="loggedIn" >
                    Welcome, <a href="#/seller/profile/monicacheng">{{name}}</a>!
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <button type="button" class="btn btn-default btn-md">
                            <span class="glyphicon glyphicon-bell"></span>
                        </button>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header">Notifications</li>
                        <li class="divider"></li>
                        <li><a href="#/leave-feedback"><span class="badge">11:17AM | 23/10/2014</span><br> Transaction Complete!<br> Leave a feedback for Ong Lye Tat!</a></li>
                        <li class="divider"></li>
                        <li><a href="#/seller/monicacheng/myoffers"><span class="badge">9:30AM 22/10/2014</span><br> Ong Lye Tat sent you an offer!<br>Check My Offers page for details</a></li>
                        <li class="divider"></li>
                    </ul>
                    <button class="btn btn-primary" type="submit" ng-click="logout()" >Log Out</button>
                </div>
            </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<div ng-controller="LoginCtrl">    
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus ng-model="email">
        <input type="password" name="password" class="form-control" placeholder="Password" required ng-model="password">
        <a href="#">Forgot Password</a>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>

        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()" value="Login">Sign in</button>
    </form>

    
   <!-- <script language="javascript">
//        $scope.login = function(){
//            
//            
//            for(var i = 0; i < $scope.users.length; i++){
//                if($scope.users[i].email == email && $scope.users[i].password == password){
//                    window.location.href= "/kgapp/index_seller.html";
//                }
//            }
//        }
    </script> -->
<!--    
<script language="javascript">
function check(form)/*function to check userid & password*/
{
/*the following code checkes whether the entered userid and password are matching*/
if(form.email.value == "MonicaCheng@hotmail.com" && form.password.value == "1234")
{
window.location.href= "/kgapp/index_seller.html#/all_listings2" /*opens the target page while Id & password matches*/
}
else if(form.email.value == "OngLyeTat@hotmail.com" && form.password.value == "1234") {
  window.location.href= "/kgapp/index_buyer.html#/all_listings" /*opens the target page while Id & password matches*/  
}
else
{
alert("Error Password or Username")/*displays error message*/
}
}
</script>
   -->
</div>