<div ng-controller="ItemListCtrl">
    <h5>List of Items</h5>
    Search: <input type="text" ng-model="item_src" />
    <br/>
    Sort by:
    <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="-timestamp">Newest</option>
            <option value="timestamp">Oldest</option>
    </select>
    <br/>
    Category: 
    <select ng-model="type">
            <option value="">All</option>
            <option value="electronics">Electronics</option>
            <option value="furniture">Furniture</option>
            <option value="paper">Paper</option>
            <option value="other">Other</option>
    </select>  
    <br/>
    <h6>Seller Availability</h6>
    Date: <input type="text" ng-model="date" />
    <br/>
    Time: <input type="text" ng-model="start" /> - <input type="text" ng-model="end" />
    <br/>

    
    <div class="container-fluid">
    <div class="row">
        <div ng-repeat="item in items | filter:item_src | orderBy:orderProp | filter:type" class="col-md-4">
            <a href="#/img/Items/{{item.id}}" class="thumbnail"><img ng-src="{{item.imageURL}}"></a>
            <br/>
            {{item.name | uppercase}}
            <br/>
            Category: {{item.category}} 
            <br/>
            Condition: {{item.condition}} 
            <br/>
            Price: {{item.price}}
            
            <p>{{item.description}}</p>
            
            <p>{{item.sellerId}}</p>
            
        </div>
    </div>
    </div>
    
    <br/>
    <!--
    <h5>New Item</h5>
    Item Name: <input type="text" ng-model="newItem.name"/>
    Type: <input type="text" ng-model="newItem.type"/>
    <button ng-click="addItem()">Add Item</button>
    -->
</div> 